---
# Basics
BasedOnStyle: LLVM
UseTab: ForIndentation
ColumnLimit: 120
# Indentation and Line Length
IndentWidth: 8
TabWidth: 8
MaxEmptyLinesToKeep: 1
AllowShortFunctionsOnASingleLine: Empty

# Alignment Settings
AlignConsecutiveAssignments:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: false
  AlignCompound: true
  PadOperators: true

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

IndentCaseLabels: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: true
  AlignCaseArrows: true

AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2

# Brace Wrapping
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  IndentBraces: false

# Spacing
SpacesBeforeTrailingComments: 4

# Pointer Alignment
PointerAlignment: Right

CommentPragmas: '///'
